# Array kūrimas iš sąrašų ir kitų Python struktūrų

In [1]:
import numpy as np

## Python list pavertimas į NumPy array

In [2]:
first_list = [1,2,3,4,5,6,7,8,9,10]
first_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
first_array = np.array(first_list)
first_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

> Matome, kad gavome vienos dimensijos array sudarytą iš Python listo

## Skirtingų skaitinių tipų Python listo pavertimas į NumPy array

In [12]:
second_list = [1,2,3,1,50,128000,4.56]
second_list

[1, 2, 3, 1, 50, 128000, 4.56]

In [13]:
second_array = np.array(second_list)
second_array

array([1.00e+00, 2.00e+00, 3.00e+00, 1.00e+00, 5.00e+01, 1.28e+05,
       4.56e+00])

In [7]:
second_array.dtype

dtype('float64')

> Matome, kad array funkcija automatiškai pavertė visas reikšmes į daugiau baitų užimantį tipą

## Skirtingų tipų Python listo pavertimas į NumPy array

In [15]:
third_list = ['Ann',111111,'Peter',111112,'Susan',111113,'John',111114]
third_list

['Ann', 111111, 'Peter', 111112, 'Susan', 111113, 'John', 111114]

In [17]:
third_array = np.array(third_list)
third_array

array(['Ann', '111111', 'Peter', '111112', 'Susan', '111113', 'John',
       '111114'], dtype='<U11')

> Matome, kad visi elementai pavirto į string tipo elementus

## Python tuple pavertimas į NumPy array

In [18]:
first_tuple = (5,10,15,20,25,30)
first_tuple

(5, 10, 15, 20, 25, 30)

In [19]:
array_from_tuple = np.array(first_tuple)
array_from_tuple

array([ 5, 10, 15, 20, 25, 30])

In [20]:
array_from_tuple.dtype

dtype('int32')

> Matome, kad niekas nepasikeitė nuo konvertavimo iš Python list.

## Python listų iš listo pavertimas į NumPy array

In [22]:
multi_dim_list = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]]
multi_dim_list

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]]

In [23]:
arr_from_multi_dim_list = np.array(multi_dim_list)
arr_from_multi_dim_list

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [24]:
arr_from_multi_dim_list.ndim

3

> Matome, kad nesudėtingai galima paversti Python objektus į NumPy array. Tai galioja visoms dimensijoms.